<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body> 
    <header>
        <br>
        <h1>Weather App</h1>
    </header>
    <nav>
        <ul>
            <li><a href="landing.html">Landing</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="registration.html">Register</a></li>
        </ul>
    </nav>

    <div class="login-box">
        <h1>Login</h1>
        <input class="form-input" type="text" placeholder="Username">
        <input class="form-input" type="password" placeholder="Password">
        <button type="submit">Login</button>

        <div class="forgot-password">
            <a href="forgotpass.html"> Forgot your password?</a>
        </div>
    </div>

    
    <div class="create-account">
        <p>Don't have an account?</p>
        <a href="registration.html"> Register Here!</a>
    </div>

</body>
</html>