<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <br>
        <h1>Weather App</h1>
    </header>
    <nav>
        <ul>
            <li><a href="landing.html">Landing</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="registration.html">Register</a></li>
        </ul>
    </nav>

    <div class="register-box">
        <h1>Register</h1>
        <input class="form-input" type="text" placeholder="Username">
        <input class="form-input" type="password" placeholder="Password">
        <button type="submit">Register</button>
    </div>

    <div class="login-account">
        <p>Already have an account?</p>
        <a href="login.html">Login Here!</a>
    </div>
</body>
</html>